---
version: 2

updates:
  - package-ecosystem: github-actions
    directory: /
    schedule:
      interval: weekly
      day: monday
      time: "06:00"
    groups:
      actions-minor-patch:
        patterns: ["*"]
        update-types: [minor, patch]
    open-pull-requests-limit: 5
    labels: [dependencies, github-actions]
